
.error-msg {
    color: chocolate;
    padding-left: 10px;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fixed-header,.am-navbar{
    position: fixed;
    top:0;
    width: 100%;
}

.page-content{
    padding: 45px 5px;
}

.content{
    position: relative;
    z-index: 90;
}

#chat-page .chat-me .am-list-extra{
    flex-basis: auto;
}

#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right;
}

#chat-page .am-grid-icon{
    display: none;
}

#chat-page .am-grid-text{
    margin-top: 0;
    margin-bottom: 0;
}

.stick-footer{
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
}
